#fire-pokemon {
    background:red;
}
#water-pokemon {
    background:blue;
}
.border-style {
    border-style:outset;
    height:20px;
}
.nav {
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 10px;
    width: 100px;
    background-color: lightgrey;
    border: 3px solid navy;
    z-index: 5;
  }
.font-style{
    color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin:20px
;
}
.nav {
    position: fixed;
    top: 0;
   left:100;
    padding-left: 10px;
    width: 250px;
    background-color: rgb(211, 211, 211);
    border: 3px solid rgb(0, 128, 49);
    z-index: 5;
  }